<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/navbar')%>
<div class="colorBox">
    <h1 >Bienvenido/a !
    </h1>
  
</div>

    <h2>
        <%= title %>
    </h2>
    <div class="blackBox">
        <p>Para poder hacer uso del centro de mensajes primero debes realizar el login! 
        </p>
      
    </div>
   <br/>
   <%- include('../partials/footer') %>

   <script src="../../public/index.js"></script>


</body>
</html>

